<h2>Blog works!</h2>
<p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugiat, quidem numquam
  modi, iste quisquam at veritatis saepe esse temporibus, ut officiis deleniti nobis!</p>

<hr>

<!-- ADD PANEL -->
<h2>Add new card
  <button mat-mini-fab routerLink="/create" color="accent">
    <mat-icon>person_add</mat-icon>
  </button>
</h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi praesentium perspiciatis doloremque est, autem magnam
  earum iure. Atque eos assumenda officia culpa repellat consequatur, rerum quis eum, voluptas ullam voluptatum?
</p>

<hr>

<!-- SEARCH PANEL -->
<h2>Search panel</h2>
<form action="#">
  <input class="form-control" placeholder="Search user" type="text">
  <input class="btn" type="submit" value="Search">
</form>

<hr>

<!-- CARDS -->
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>

<hr>
<button (click)="goHome()" mat-mini-fab color="primary">
  <mat-icon>home</mat-icon>
</button>
