<h2>Blog works!</h2>
<p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugiat, quidem numquam
  modi, iste quisquam at veritatis saepe esse temporibus, ut officiis deleniti nobis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt optio, iusto doloribus qui ipsam aliquid voluptatem et voluptas quia beatae ratione vel id dolorem, repellat impedit itaque tempora est voluptatum nisi perspiciatis voluptate. Quis omnis vel sunt facere sint velit harum vitae, sapiente tempore odit assumenda qui fugiat vero.</p>

<img src="{{blogBanner}}" alt="blog-banner">

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque facere minus dolores itaque architecto atque molestias, sapiente fugit veritatis eos deserunt ipsa nemo similique distinctio amet quae aliquid dicta sequi! Ipsum nemo sequi excepturi earum odit qui? Quasi deserunt impedit rerum incidunt consequuntur hic, ratione facilis vitae nesciunt magnam debitis delectus eveniet, sint sunt ut beatae ex suscipit. Eos placeat, rem molestiae, labore, eum eveniet veniam sit blanditiis nobis ratione quisquam nisi totam explicabo! Molestias debitis pariatur rem optio non, unde laboriosam quibusdam eos dolor odit animi asperiores dolores ducimus quia quo quas, sit eius exercitationem cupiditate sapiente placeat quisquam!</p>

<!-- ADD PANEL -->
<app-add-panel (onAdd)="updateCards($event)"></app-add-panel>
<hr>

<!-- SEARCH PANEL -->
<h2>Search article</h2>
<input type="text" [(ngModel)]="search" class="form-control" placeholder="Search by title...">

<!-- CARDS -->
<app-card *ngFor="let c of cards | filter:search" [card]="c" (onRemove)="removeCard($event)"></app-card>
