<h2>Blog works!</h2>
<p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugiat, quidem numquam
  modi, iste quisquam at veritatis saepe esse temporibus, ut officiis deleniti nobis!</p>

<app-card></app-card>
<app-card></app-card>
<app-card></app-card>

<hr>

<button (click)="goHome()" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button>


<!-- <div class="mat-typography">
  <h3>Add new contact
    <a mat-mini-fab color="primary" routerLink="/contacts/add">
      <mat-icon color="accent">person_add</mat-icon>
    </a>
  </h3>
  <p class="mat-body-2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi praesentium perspiciatis doloremque est, autem
    magnam earum iure. Atque eos assumenda officia culpa repellat consequatur, rerum quis eum, voluptas ullam
    voluptatum?
  </p>
</div> -->
