<h2>Home works!</h2>
<p class="mat-body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis veniam, reiciendis rerum
  expedita iure? Esse aliquid adipisci, laboriosam, magnam dolore et ea in, placeat distinctio doloribus dolorum iure at
  id nisi enim aliquam deserunt facere unde voluptate. Repudiandae fugit doloribus doloremque sint expedita harum maxime
  distinctio dolores, sequi dolor.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque culpa odio sint rem cum nostrum debitis sapiente
  animi a temporibus aspernatur, quos adipisci voluptatum perspiciatis esse possimus dolor! Inventore eos ipsum sint
  consequatur nobis dolor voluptatem ad accusamus necessitatibus maxime fugiat nulla, quasi nihil harum soluta porro nam
  qui autem.</p>

<app-material-table></app-material-table>
<hr>

<app-cdk-table></app-cdk-table>
