<button routerLink="/blog" mat-raised-button color="accent">Blog</button>

<hr>

<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Create card</h2>

  <div class="form-control">
    <label for="title">Article title: </label>
    <input id="title" type="text" formControlName="title">
    <!-- <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <p *ngIf="form.get('title').errors.required">
        Type article title
      </p>
    </div> -->
  </div>

  <div class="form-control">
    <label>Article body: </label>
  </div>

  <!-- <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
    <label for="author">Created by: </label>
    <input id="author" type="text" formControlName="author">
    <div *ngIf="form.get('author').touched && form.get('author').invalid" class="validation">
      <p *ngIf="form.get('author').errors.required">
        Type article author
      </p>
    </div>
  </div> -->

  <button type="submit" [disabled]="form.invalid">Add article</button>
</form>

<hr>

<button (click)="goHome()" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button>

<!-- <form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Create card</h2>

  <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
    <label for="title">Article title: </label>
    <input id="title" type="text" formControlName="title">
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <p *ngIf="form.get('title').errors.required">
        Type article title
      </p>
    </div>
  </div>

  <div class="form-control">
    <label>Article body: </label>
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
    <label for="author">Created by: </label>
    <input id="author" type="text" formControlName="author">
    <div *ngIf="form.get('author').touched && form.get('author').invalid" class="validation">
      <p *ngIf="form.get('author').errors.required">
        Type article author
      </p>
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid">Add article</button>
</form> -->
