/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: greenyellow;
}

h1,
h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: black;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.section {
  color: white;
  background-color: darkturquoise;
  padding: 1rem;
  border: 1px gray dotted;
  margin: 1rem 0;
  width: 50%;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: outline 0.2s ease-in;

  &:hover {
    outline: 1px solid white;
  }
}

.navbar {
  color: darkturquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  background: darkviolet;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__list {
    display: flex;

    .active a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  a {
    color: darkturquoise;
    transition: color 0.2s ease-in;
    padding: 0.5rem;
    margin: 0 0.5rem;

    &:hover {
      color: white;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 0.3rem;
}

hr {
  margin: 1rem 0;
}
