<h2>Error 404! Page not found</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum officia accusantium sit quod dignissimos sequi. Autem ab provident aperiam repudiandae, iure expedita deserunt exercitationem blanditiis commodi, porro unde quasi minima mollitia corporis illo sunt dolorum similique. Voluptate quas optio, a nulla harum, possimus asperiores ut neque iusto nam sequi iure!</p>

<mat-spinner color="primary" mode="indeterminate" class="spinner-margin"></mat-spinner>
