<h2>About works!</h2>

<p class="mat-body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis veniam, reiciendis rerum
  expedita iure? Esse aliquid adipisci, laboriosam, magnam dolore et ea in, placeat distinctio doloribus dolorum iure at
  id nisi enim aliquam deserunt facere unde voluptate. Repudiandae fugit doloribus doloremque sint expedita harum maxime
  distinctio dolores, sequi dolor.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis veniam, reiciendis rerum
  expedita iure? Esse aliquid adipisci, laboriosam, magnam dolore et ea in, placeat distinctio doloribus dolorum iure at
  id nisi enim aliquam deserunt facere unde voluptate. Repudiandae fugit doloribus doloremque sint expedita harum maxime
  distinctio dolores, sequi dolor.</p>

<div class="about-box">
  <img src="{{crudBanner}}" alt="crud-banner">
  
  <router-outlet></router-outlet>
</div>

<p>
  <a mat-stroked-button color="primary" [routerLink]="['/about', 'more']">Learn more...</a>
</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio repellendus sequi soluta nisi, eos provident
  rerum tempora ad, consequatur pariatur beatae animi itaque enim non nam, adipisci autem! Distinctio nobis repudiandae
  itaque placeat, incidunt magni id! Distinctio, omnis totam? Nam pariatur repudiandae earum quia temporibus, cum velit
  omnis quo explicabo.</p>

<img src="{{aboutBanner}}" alt="about-banner">

<app-clipboard></app-clipboard>
