<div class="mat-typography">
  <h2>About works!</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis veniam, reiciendis rerum expedita iure? Esse aliquid adipisci, laboriosam, magnam dolore et ea in, placeat distinctio doloribus dolorum iure at id nisi enim aliquam deserunt facere unde voluptate. Repudiandae fugit doloribus doloremque sint expedita harum maxime distinctio dolores, sequi dolor.</p>
  <p>
    <a [routerLink]="['/about', 'more']">Learn more...</a>
  </p>
  <router-outlet></router-outlet>
</div>
