span {
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 3px;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid white;
  }
}
