<h2>Forms works!</h2>
<p class="mat-body-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo explicabo eius voluptatem voluptas
  nam sequi modi enim harum, in ut quas consequatur corporis ab architecto? Possimus laborum esse nulla voluptatibus
  temporibus eveniet incidunt commodi pariatur magnam repellendus, corrupti, deserunt illo dignissimos a repellat minima
  perferendis iste modi? Doloribus, earum magnam!</p>

<form class="section" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-control">
    <label>E-mail</label>
    <input type="text" placeholder="Email" formControlName="email">

    <div *ngIf="form.get('email')!.invalid && form.get('email')!.touched" class="validation">
      <span *ngIf="form.get('email')!.errors?.['required']">
        E-mail field cannot be empty
      </span>
      <span *ngIf="form.get('email')!.errors?.['email']">
        Enter a valid e-mail
      </span>
    </div>
  </div>

  <div class="form-control">
    <label>Password</label>
    <input type="password" placeholder="Password" formControlName="password">
    <div *ngIf="form.get('password')!.invalid && form.get('password')!.touched" class="validation">
      <span *ngIf="form.get('password')!.errors?.['required']">
        Password field cannot be empty
      </span>
      <span *ngIf="form.get('password')!.errors?.['minlength']">
        Password length must be at least {{form.get('password')!.errors?.['minlength'].requiredLength}} symbols. Now the
        number of characters is {{form.get('password')!.errors?.['minlength'].actualLength}}
      </span>
    </div>
  </div>

  <div class="section" formGroupName="address">
    <h2>Address</h2>

    <div class="form-control">
      <label>Country</label>
      <select formControlName="country" (change)="setLocation()">
        <option value="by">Belarus</option>
        <option value="en">USA</option>
        <option value="po">Poland</option>
        <option value="de">Germany</option>
        <option value="arm">Armenia</option>
      </select>
    </div>

    <div class="form-control">
      <label>City</label>
      <input type="text" formControlName="city" placeholder="City">
    </div>
  </div>

  <div class="section" formGroupName="skills">
    <h2>Key skills</h2>

    <button type="button" (click)="addSkill()">Add skill</button>
    <div class="form-control" *ngFor="let skill of getControls(); let i = index">
      <label>Skill {{i+1}}</label>
      <input type="text" [formControlName]="i" placeholder="New skill">
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
