<h2>CDK features works!</h2>
<p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugiat, quidem numquam
  modi, iste quisquam at veritatis saepe esse temporibus, ut officiis deleniti nobis!</p>

<app-text-field></app-text-field>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus autem similique impedit voluptatibus delectus,
  nemo quidem nobis error velit ex iusto iste excepturi eum perferendis corporis debitis, perspiciatis voluptatem. Amet
  consequatur, sint aperiam soluta iure numquam omnis provident dolorum maiores aliquid eligendi labore esse perferendis
  delectus cum neque fugit ab.</p>

<app-accordion></app-accordion>
<hr>

<div class="cdk-box">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facere soluta veritatis, cum officia, officiis vero minima et molestias esse maxime. Fuga ullam commodi cupiditate vero consectetur qui fugit perferendis atque distinctio? Molestiae soluta reiciendis mollitia quidem dicta quod officiis, vel distinctio iure magnam assumenda voluptatibus consectetur nostrum voluptatum nesciunt aut facilis nobis odio ex architecto laudantium ullam! Repudiandae perferendis totam maiores dolorum! Sequi veritatis distinctio eaque laborum praesentium sit obcaecati voluptas at nisi ex odit ipsa quam commodi, minus vero nesciunt magnam dignissimos dolor? Maxime corporis distinctio ipsum non. Voluptatem, ullam. Dolores ipsam similique debitis aspernatur corrupti consequatur corporis.</p>
  <img src="{{todoBanner}}" alt="todo-banner">
</div>

<app-drag-and-drop></app-drag-and-drop>
<hr>

<div class="cdk-box">
  <img src="{{settingsBanner}}" alt="settings-banner">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facere soluta veritatis, cum officia, officiis vero minima et molestias esse maxime. Fuga ullam commodi cupiditate vero consectetur qui fugit perferendis atque distinctio? Molestiae soluta reiciendis mollitia quidem dicta quod officiis, vel distinctio iure magnam assumenda voluptatibus consectetur nostrum voluptatum nesciunt aut facilis nobis odio ex architecto laudantium ullam! Repudiandae perferendis totam maiores dolorum! Sequi veritatis distinctio eaque laborum praesentium sit obcaecati voluptas at nisi ex odit ipsa quam commodi, minus vero nesciunt magnam dignissimos dolor? Maxime corporis distinctio ipsum non. Voluptatem, ullam. Dolores ipsam similique debitis aspernatur corrupti consequatur corporis.</p>
</div>

<app-scrolling></app-scrolling>
