<h2>CDK features works!</h2>
<p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugiat, quidem numquam
  modi, iste quisquam at veritatis saepe esse temporibus, ut officiis deleniti nobis!</p>

<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
  </cdk-virtual-scroll-viewport> -->

<hr>

<button (click)="goHome()" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button>
