<h2>CDK features works!</h2>
<p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugiat, quidem numquam
  modi, iste quisquam at veritatis saepe esse temporibus, ut officiis deleniti nobis!</p>

<app-text-field></app-text-field>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus autem similique impedit voluptatibus delectus,
  nemo quidem nobis error velit ex iusto iste excepturi eum perferendis corporis debitis, perspiciatis voluptatem. Amet
  consequatur, sint aperiam soluta iure numquam omnis provident dolorum maiores aliquid eligendi labore esse perferendis
  delectus cum neque fugit ab.</p>

<app-accordion></app-accordion>
<hr>

<app-drag-and-drop></app-drag-and-drop>
<hr>

<p class="mat-body-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perferendis omnis voluptatem officia inventore nobis voluptatibus. Est fugit, quos, nihil sint officiis porro corporis omnis fuga aspernatur aut, perferendis totam.</p>
<app-scrolling></app-scrolling>
