.mat-container {
  width: 100%;
  background-color: greenyellow;
}

.mat-sidenav {
  padding: 20px;
  background-color: greenyellow;
}

.toggle-calendar-button {
  margin-bottom: 1rem;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}
