<nav class="navbar">
  <div class="navbar__flex">
    <h1><a [routerLink]="['/']">Logo</a></h1>
    <div class="navbar__menu-button">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon color="accent">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToBlogPage()">Blog</button>
        <button mat-menu-item (click)="goToCreatePage()">Create</button>
        <button mat-menu-item (click)="goToAboutPage()">About us</button>
        <button mat-menu-item (click)="goToCDKPage()">CDK features</button>
      </mat-menu>
    </div>
  </div>
  <ul class="navbar__list">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/blog">Blog</a></li>
    <li routerLinkActive="active"><a routerLink="/create">Create</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/about']">About us</a></li>
    <li routerLinkActive="active"><a routerLink="/cdk">CDK features</a></li>
    <li><button>Login</button></li>
    <li><button>Logout</button></li>
  </ul>
</nav>

<mat-drawer-container class="mat-container" autosize>
  <mat-drawer #drawer class="mat-sidenav" mode="side">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <button class="toggle-calendar-button" mat-flat-button color="primary" (click)="showFiller = !showFiller"
      mat-raised-button>
      Toggle calendar
    </button>
    <p *ngIf="showFiller">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </p>
  </mat-drawer>

  <div class="mat-sidenav-content">
    <div class="wrapper">
      <router-outlet></router-outlet>
      <hr>
      <div class="footer-nav">
        <button class="mat-toggle-button" type="button" mat-flat-button color="accent" (click)="drawer.toggle()">
          Toggle sidenav
        </button>
        <button routerLink="/" mat-mini-fab color="primary">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-drawer-container>
